#cell-continer{
  background-color: yellow; /* Replace with your desired background color */
  border: 1px solid black;
  height: 150px;
  width: 1000px;
}
.cell {
  width: 100px;
  height: 100px;
  text-align: center;
  display: inline-block;
  padding: 10px;
  border: 5px solid black;
  cursor: pointer;
}

#game-container{
  
  text-align: center
}

