.cell {
  width: 75px;
  htight: 75px;
  border: 2px solid
  box-shadow: 0 0 0 2px;
  line-height: 75px;
}

#cellContainer{
  display: grid;
  grid-template-columns: repeat(4, auto);
  width: 225px;
  margin: auto;
}